<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Document Printed</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div class="container">
            <h1>Your Document has been printed successfully</h1><br>
                <h2>Session Completed</h2>
                <p> Your session is is now complete. This file has been deleted automatically. Server will shut down now</p>
                
        </div>
    </body>
</html>